/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body */
body {
    background-color: black;
    padding: 2% 2% 2% 5%;
    -webkit-user-select: none;
}
.body {
    background-color: rgb(255, 255, 255);
    color: rgb(62, 57, 57);
    
}
/* nav-section */
.theme-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.circle{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-black{
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-col {
    color: white;
}
.icon-col-black {
    color: rgb(0, 0, 0);
}
.text-color {
    font-weight: bold;
    color: #198754;
}
.nav-link-text:hover {
    color: #198754;
}
.nav-link-text-black:hover {
    color:  #198754;
}
.nav-link-text {
    color: white;
}
.nav-link-text-black {
    color: rgb(0, 0, 0);
}
.nav-icon{
    color: rgb(0, 0, 0);
}
.nav-icon-black{
    color: rgb(255, 255, 255);
}
/* video section */
.columns {
    background-color: rgb(11, 9, 9);
}
.columns-black { 
    background-color: rgb(227, 227, 227);
    border: 0;
}
.video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
}
/* copyright section */
.footerX{
    margin-top: 50px;
    color: #198754;
}

@media(max-width: 1000px){
    .video {
        width: 100%;
        height: 250px;
        object-fit: cover;
        background-color: rgb(0, 0, 0);
        border: 1px solid #ffffff;
    }
}
